       <div class="container">
       <div class="btn-group pull-right">         
          <a class="glyphicon glyphicon-plus" href="/new_habit_from_goal?goal_id=2">Habit</a>
          <a class="glyphicon glyphicon-plus" href="/new_task_from_goal?goal_id=2">Task</a>           
        </div>      
      <table class="table table-condensed table-hover">
        <col width="10">
        <col>
        <col width="60">
        <col width="40">
      <thead>       
        <tr>
          <th>         
            <form accept-charset="UTF-8" action="/goals/2" class="edit_goal" id="edit_goal_2" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="pY5sERL1sDz+4ZgbV6sChKpheTZ0KotlV9DYdIJtlqs=" /></div>
    <img alt="Needs Work" src="/assets/yellowProgress3Med-ca7e9c615d6932858d1b3754335316da.png" />
</form>
          </th>
          <th>
          <div class="form-group">
            <label for="goal_description">Description</label><br>
            <textarea id="goal_description" name="goal[description]">
Build a Time Management App</textarea>
          </div>
          </th>
          <th>
            <div class="actions">
              <input class="btn btn-primary btn-med" name="" type="submit" value="Update" />
            </div>  
          </th>
          <th></th>       
          <th>
                <span class="glyphicon glyphicon-trash white"></span>
          </th>
        </tr>
      </thead>                         
        <tbody>  

            <tr>
              <td>
            <div class="btn-group">
              <img alt="Needs Work" src="/assets/yellowProgress3-d9ac3c76bff899df9fe4e2bf813f231b.png" />
            </div>
              </td>      
              <td>
                <a href="/edit_taskfromgoals?id=33">
                    Look at github&#39;s calendar view for activity, think about adding for tasks
</a>              </td>
              <td>
                    <div class ="red daysleft">Today</div>
              </td> 
              <td></td>                           
              <td>
                <span class="glyphicon glyphicon-trash"></span>
             </td> 
            </tr>
            <tr>
              <td>
            <div class="btn-group">
                <img alt="On Track" src="/assets/greenProgress3-44d4150d549f06105fad315ef0746680.png" />
            </div>
              </td>      
              <td>
                <a href="/edit_taskfromgoals?id=83">
                    Add user timezone, and hourly task to do reset based on timezone (instead of daily rake task)
</a>              </td>
              <td>
<div class ="daysleft">
                  2</div>
              </td> 
              <td></td>                           
              <td>
                <span class="glyphicon glyphicon-trash"></span>
              </td> 
            </tr>
            <tr>
              <td>
            <div class="btn-group">
                <img alt="Completed" src="/assets/greenProgress3-44d4150d549f06105fad315ef0746680.png" />                            
            </div>
              </td>      
              <td>
                <a href="/edit_taskfromgoals?id=35">
                    <div class="strikeout">Add collapsible goals and habits (update)</div>
</a>              </td>
              <td>
                    <div class ="green daysleft">Done!</div>
              </td> 
              <td></td>                           
              <td>
                <span class="glyphicon glyphicon-trash"></span>
              </td> 
            </tr>
            <tr>
              <td>
            <div class="btn-group">
                    <img alt="Not Started" src="/assets/redProgress3-5a948b58893505598a72fbd7af6bca2a.png" />
            </div>
              </td>      
              <td>
                <a href="/edit_taskfromgoals?id=42">
                    Be able to rearrange goals on the screen (re-order them)
</a>              </td>
              <td>
<div class ="daysleft">
                  3</div>
              </td> 
              <td></td>                           
              <td>
                <span class="glyphicon glyphicon-trash"></span>
            </td> 
            </tr>
      </tbody>
    </table>
  </div>