       <div class="container">
    <div class="panel panel-primary">
      <div id="goaltitle" class="panel-heading">
            <img align="right" alt="Needs Work" src="/assets/yellowProgress3Med.png" />
          <div class="text-left">
              Build a Time Management App
         <a class="glyphicon glyphicon-plus">Habit</a>
          <a class="glyphicon glyphicon-plus">Task</a>
        </div> 
                 
      </div>
      <table id=goal4 class="table table-condensed table-hover">     
      <!--table id=goal4 class="table table-condensed table-hover collapse in"-->
        <col width="10">
        <col>
        <col width="60">
        <col width="40">                      
        <tbody>        
            <tr>
              <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img alt="Completed" src="/assets/greenProgress3.png" />                            
                   <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <a class="glyphicon glyphicon-chevron-left"></a>
                    Complete                             
                <a class="glyphicon glyphicon-chevron-right"></a>
              </ul>
            </div>
              </td>       
              <td>
                    <div class="strikeout">Look at github&#39;s calendar view for activity, think about adding for tasks</div>
              </td>
              <td>
                    <div class ="green daysleft">Done!</div>
              </td>                            
              <td>
                <span class="glyphicon glyphicon-trash"></span>
              </td> 
            </tr>
            <tr>
              <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img alt="Not Started" src="/assets/redProgress3.png" />
 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <a class="glyphicon glyphicon-chevron-left"></a>
                    Not Started
                <a class="glyphicon glyphicon-chevron-right"></a>
              </ul>
            </div>
              </td>       
              <td>
                    Update DNS to point to heroku
              </td>
              <td>
                    <div class ="red daysleft">Due</div>
              </td>                            
              <td>
                <span class="glyphicon glyphicon-trash"></span>
              </td>
            </tr>
            <tr>
              <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img alt="Completed" src="/assets/greenProgress3.png" />                            
                   <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <a class="glyphicon glyphicon-chevron-left"></a>
                    Complete                             
                <a class="glyphicon glyphicon-chevron-right"></a>
              </ul>
            </div>
              </td>       
              <td>
                    <div class="strikeout">Update to not delete task unless after due date</div>
              </td>
              <td>
                    <div class ="green daysleft">Done!</div>
              </td>                            
              <td>
                <span class="glyphicon glyphicon-trash"></span>
              </td>
            </tr>
            <tr>
              <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img alt="Needs Work" src="/assets/yellowProgress3.png" />
 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <a class="glyphicon glyphicon-chevron-left"></a>
                    Needs Work
                <a class="glyphicon glyphicon-chevron-right"></a>
              </ul>
            </div>
              </td>       
              <td>
                    Add Email confirmation
              </td>
              <td>
                    <div class ="daysleft">3 days left!</div>
              </td>                            
              <td>
                <span class="glyphicon glyphicon-trash"></span>
              </td>
            </tr>
      </tbody>
    </table>
    </div> 
  </div>