  <div class="container" style="padding-right:20px; padding-left:20px;">
<h1 >I should...
</h1>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">    
   Daily Habits
  <div class="btn-group pull-right">
    <a class="glyphicon glyphicon-plus"></a>
  </div>
  </div>
  <table class="table table-hover">
    <col width="20">     
    <col>
    <col>
    <col width="40">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Streak</th>    
        <th></th>
      </tr>
    </thead>    
    <tbody>
    </tbody>
  </table>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">  
   Weekly Habits
  <div class="btn-group pull-right">
    <a class="glyphicon glyphicon-plus"></a>
  </div>
  </div>
  <table id="weekly" class="table table-hover">
    <col width="20">       
    <col>
    <col>
    <col width="40">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Streak</th>    
        <th></th>
      </tr>
    </thead>
    <tbody>
          <tr>        
              <td>
                    <a class="glyphicon glyphicon-ok"></a>
              </td>                
              <td>
                  Yoga
             </td>
              <td>
                0
              </td>              
            <td>
              <span class="glyphicon glyphicon-trash"></span>
           </td> 
          </tr>
          <tr>        
              <td>
                    <a class="glyphicon glyphicon-ok" ></a>
              </td>                
              <td>
                  new weekly habit health
             </td>
              <td>
                0
              </td>              
            <td>
              <span class="glyphicon glyphicon-trash"></span>
           </td> 
          </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">    
   Monthly Habits
  <div class="btn-group pull-right">
    <a class="glyphicon glyphicon-plus"></a>
  </div>
  </div>
  <table class="table table-hover">
    <col width="20">    
    <col>
    <col>
    <col width="40">   
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Streak</th>    
        <th></th>
      </tr>
    </thead>     
    <tbody>
          <tr>
              <td>
                <a class="glyphicon glyphicon-ok"></a>
              </td>            
              <td>
                  Hike
             </td>
              <td>
                1
              </td>                          
            <td>
              <span class="glyphicon glyphicon-trash"></span>
            </td> 
          </tr>
    </tbody>
  </table>
</div>




  </div>