<div class="jumbotron center">
	<%= image_tag("logoBigger.png", :alt => "simple task management") %>
	<p>
	Taskr is a simple web app that lets you set tasks, create todo lists, and set goals for personal success.</p>

</div>
