<div class="container">
    <h1>
    The simplest way to organize your life
    <br/>
    </h1> 
    <h2>taskView is the most elegant way to view and manage your to-do lists</h2>
    <br/>
    <% if user_signed_in? %>
      <%= link_to "View goals", goals_url, class: "btn btn-warning btn-lg" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-lg" %>
    <% end %> 
    <br/>
    <br/>

      <h2>taskView provides goal breakdown and task tracking</h2>
</div>
 <br/><br/>
<%= render 'example_goal' %>
  </div>
<div class="purple">
    <div class="container">
    <br/>
    <h2>Whether it's grocery shopping or planning your next creative project, taskView provides simple goal, task, and habit setting.
    </h2>
    <br/>
    </div>
  </div>
<div class="container">
  <br><br> 
    <br/>
    <br/>    
    <h2>
  Stay motivated to live the life you've always wanted to with daily, weekly, and monthly habits and streak counters.
  </h2> 
<%= render 'example_habits' %>  
</div>
  <br/>
<div class="gray">
  <h2 align="center">  
  <br/>
    Why TaskView?
  <br/><br/>


<div class="black">
<div class="container center">
<h2/>
<br/>  
<table width="100%" align="center">
  <col width="25%"/>
  <col width="25%"/>
  <col width="25%"/>
  <col width="25%"/>
  <thead>
    <th><h2 class="yellow">Reoccuring Habits</h2></th>
    <th><h2 class="yellow">Goal Setting</h2></th>
    <th><h2 class="yellow">Task Due Dates</h2></th>
    <th><h2 class="yellow">Access Anywhere</h2></th>
  </thead>
  <tbody>
    <tr>
      <td>
        <p text-align="center">Set reoccuring events as habits you can check off daily, weekly or monthly</p>
      </td>
      <td>
        <p text-align="center">Set goals and break steps down into tasks</p>
      </td>
      <td>
        <p text-align="center">Simple interface to set concrete dates for your tasks</p>    
      </td>
      <td>
        <p text-align="center">Access from any device, from anywhere on the web</p>
      </td>        
    <tr>
    <tr>
      <td>
          <span class="glyphicon glyphicon-time"></span>  
      </td>
      <td>
          <span class="glyphicon glyphicon-tower"></span>  
      </td>
      <td>
        <span class="glyphicon glyphicon-calendar"></span>      
      </td>
      <td>
        <span class="glyphicon glyphicon-cloud"></span> 
      </td>        
    <tr>      
  </tbody>
</table>
</div>
<br/>
<br/>
<br/>  
</div>  
<br/>
</div>


